<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}} app</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
{{> header}}
{{{body}}}
{{> footer}}
</body>
</html>
